doctype html
html
  head
    // Site made with Mobirise Website Builder v3.9.2, https://mobirise.com
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='generator', content='Mobirise v3.9.2, mobirise.com')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='assets/images/mensaje-128x128-45.png', type='image/x-icon')
    meta(name='description', content='Inicio  Negritos Mail')
    title Inicio | Negritos Mail
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet', href='assets/bootstrap-material-design-font/css/material.css')
    link(rel='stylesheet', href='assets/tether/tether.min.css')
    link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/animate.css/animate.min.css')
    link(rel='stylesheet', href='assets/dropdown/css/style.css')
    link(rel='stylesheet', href='assets/theme/css/style.css')
    link(rel='stylesheet', href='assets/mobirise/css/mbr-additional.css', type='text/css')
  body
    section#ext_menu-4
      nav.navbar.navbar-dropdown.navbar-fixed-top
        .container
          .mbr-table
            .mbr-table-cell
              .navbar-brand
                a.navbar-logo(href='#')
                  img(src='assets/images/mensaje-128x128-45.png', alt='NegritosMail')
                a.navbar-caption.text-white(href='https://mobirise.com') Negritos Mail
            .mbr-table-cell
              button.navbar-toggler.pull-xs-right.hidden-md-up(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar')
                .hamburger-icon
              ul#exCollapsingNavbar.nav-dropdown.collapse.pull-xs-right.nav.navbar-nav.navbar-toggleable-sm
                li.nav-item.nav-btn
                  a.nav-link.btn.btn-primary(href='IniciarSesion.html') INICIAR SESION
                li.nav-item.nav-btn
                  a.nav-link.btn.btn-primary(href='CrearUsuario.html') CREAR USUARIO
              button.navbar-toggler.navbar-close(hidden='', type='button', data-toggle='collapse', data-target='#exCollapsingNavbar')
                .close-icon
    section#header1-g.mbr-section.mbr-section-hero.mbr-section-full.mbr-parallax-background.mbr-after-navbar(style='background-image: url(assets/images/jumbotron.jpg); height: 500px')
      .mbr-table-cell
        .container
          .row
            .mbr-section.col-md-10.col-md-offset-1.text-xs-center
              h1.mbr-section-title.display-1 Infraestructura Tecnológica ll
              p.mbr-section-lead.lead
                | Proyecto final 
                br
                | Integrantes:
                br
                | Silvia Alizar
                br
                | Kenneth Martínez
                br
                | Marvin Fernández
                br
                | Melvin Brenes
    footer#footer1-f.mbr-small-footer.mbr-section.mbr-section-nopadding(style='background-color: rgb(50, 50, 50); padding-top: 2.625rem; padding-bottom: 3rem;')
      .container
        p.text-xs-center Copyright (c) 2016 | Infraestructura Tecnológica | Negritos Mail
    script(src='assets/web/assets/jquery/jquery.min.js')
    script(src='assets/tether/tether.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
    script(src='assets/smooth-scroll/SmoothScroll.js')
    script(src='assets/viewportChecker/jquery.viewportchecker.js')
    script(src='assets/dropdown/js/script.min.js')
    script(src='assets/touchSwipe/jquery.touchSwipe.min.js')
    script(src='assets/jarallax/jarallax.js')
    script(src='assets/theme/js/script.js')
    input(name='animation', type='hidden')
